* {
    margin: 0 0;
    padding: 0 0;
}

.btn {
    margin: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation-name: showmodal;
    animation-duration: 0.5s;
}

@keyframes showmodal {
    from {background-color: rgba(0,0,0,0.0);}
    to {background-color: rgba(0,0,0,0.5);}
}

.modal-content {
    margin: 10% 20%;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}

.modal-content p {
    width: 600px;
}